*{
    margin: 0 auto;
}


h1{
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
}

h2{
    font-size: 30px;
}

header {
	
	position: static;
    width: 100%;
    height: 100%;
	text-align: center;
	color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;

}

video {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    -o-object-position: center;
       object-position: center;
       margin: 0 auto;
  }

  .overlay {
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    position: absolute;
    mix-blend-mode: overlay;
    padding: 180px 0px;
    text-align: center;
    top: 50%;
  left: 50%;
}

#portfolio-projects{
    
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    margin: 0;
    background: rgb(148,187,233);
    /* background: linear-gradient(0deg, rgba(148,187,233,1) 0%, rgba(255,255,255,1) 100%); */
    background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 9px;
}

.container{
    display: flex;
    width: 90vw;;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    flex: 0.6;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* .panel h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    font-family: 'Raleway', sans-serif;
    color: rgb(55, 100, 247);
} */

.panel.active{
    flex: 6;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border-radius: 0px;
   
}





@media(max-width: 480px){
   .container{ 
       width: 100vw;
   }
   .panel:nth-of-type(4),
   .panel:nth-of-type(5){
       display:none;
   }
}