@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');



*{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}


h1{
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
}

h2{
    
    font-size: 50px;
    color: white;
}

header {
	
	position: static;
    width: 100%;
    height: 100%;
	text-align: center;
	color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;

}

video {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    -o-object-position: center;
       object-position: center;
       margin: 0 auto;
  }

  .overlay {
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    position: absolute;
    mix-blend-mode: overlay;
    padding: 180px 0px;
    text-align: center;
    top: 70%;
  left: 50%;
}

#portfolio-projects{
    
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    margin: 0;
    /* background: rgb(30,163,251);
    background: linear-gradient(0deg, rgba(30,163,251,0.6233480176211454) 0%, rgba(255,255,255,1) 100%); */

}

.container{
    display: flex;
    width: 90vw;;
}



body, html {
   font-family: 'Roboto Slab', serif;
    margin: 0 auto;
  /* width: 100%;
height: 100%; */
    padding: 0;
}

body {
  background-image: linear-gradient(#D2DBDD, rgb(186, 230, 250));
  /* background-color: #D2DBDD; */
  /* display: flex; */
  /* display: -webkit-flex; */
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  /* background-image: url('https://images.unsplash.com/photo-1584384689201-e0bcbe2c7f1d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80'); */
  background-repeat: no-repeat;
  background-size: cover;
/* opacity: .2; */
  
}

.cards {
    width: 60%;
    /* position: absolute; */
    display: block;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 730px;
    max-height: 1300px;
    float: left;
    padding-bottom: 45px;
    padding-right: 0%;

}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('attachments/weatherapp.gif');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('attachments/Cocktails-and-Quotes.gif');
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('attachments/todolist.gif');
}

.card--4 .card__img, .card--4 .card__img--hover {
    background-image: url('attachments/tictactoe.gif');
}



.app_info {
    float: left;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  /* top: 0; */
}

.card__img--hover {
  transition: 0.7s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-left: 90px;
  margin-right: 90px;
  transition: all .4s cubic-bezier(0.175, 0.885, .8, 1);
  background-color: #fff;
    width: 44.4%;
    height: 80%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 14px 24px 24px 24px;
}

.app_name {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card_description {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
}


.repository {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #3695e4;
}

.card:hover .card__img--hover {
    /* height: 100%; */
    opacity: 0.1;
}

.card:hover .card__info {
    background-color: transparent;
    /* position: relative; */
}

.card:hover .card__info-hover {
    opacity: 1;
}

.language{
    border: solid #474646 1px;
    font-size: small;
    border-radius: 2px;
  background-color: #aaa8a8;
  color: white;
}

/* @media(max-width: 480px){
   .container{ 
       width: 100vw;
   }
   .panel:nth-of-type(4),
   .panel:nth-of-type(5){
       display:none;
   }
} */

.appDescription{
  padding-bottom: 23%;
  width: 900px;
  /* float: inline-start; */
  
}

#aboutMe{
  background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
 
}
.about{
  width: 900px;
  height: 450px;
  background:#fff;
  /* margin: 0 auto; */
  box-shadow: 15px 20px 25px 1px rgba(34, 32, 31, 0.2);
  padding: 2% 2% 2% 2%;
  border-radius: 8px;
}
.navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 45px;
  text-align: center;
  padding-top: 0px;
  padding-right: 75px;
  z-index: 1;
  /* SHADOW */
  -webkit-box-shadow: 0px 0px 2px 0px   #000000;
  -moz-box-shadow: 0px 0px 2px 0px       #000000;
  box-shadow: 0px 0px 2px 0px #000000;
  /* TRANSPARENCY */
  background-color: rgba(104, 100, 100, 0.356);
  color: rgba(1, 1, 1, 0.7);
}

.navigation a {
  font-size: 16px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  text-decoration: none;
}

.navigation ul
{
    margin-top: 12px;
}

.navigation ul li
{
    list-style-type: none;
    display: inline;
}

.navigation li:before {
  content: " | ";
  color: #fff;
}

.navigation li:first-child:before {
content: none;
}

.navigation li a:hover {
  color: #CCCCCC;
  font-weight: 600;
}
/* contact */

p{
  color: rgb(255, 255, 255); 
  font-size: 100px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 7s steps(60, end); 
}

span.blink{
  animation: blink 1s infinite;
  color: #fff;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

