@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Space+Mono&display=swap');


*{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

body, html {
  
  margin: 0 auto;
  padding: 0;
  
}

body{
    height: 100px;
    background-color: rgb(71, 95, 143);
  }

#bkg{
    position: sticky;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: animateBg 17s linear infinite;
    background-image: linear-gradient(45deg,rgb(78, 103, 156),rgb(98, 104, 161),rgb(130, 87, 126),rgb(114, 94, 138),rgb(119, 86, 125),rgb(65, 96, 126), rgb(76, 99, 150),rgb(130, 87, 126),rgb(114, 94, 138),rgb(119, 86, 125),rgb(65, 96, 126), rgb(76, 99, 150),rgb(130, 87, 126),rgb(114, 94, 138),rgb(119, 86, 125),rgb(65, 96, 126), rgb(76, 99, 150));
    background-size: 100% 1000%;
    height: auto;
    width: 100vw;
}
  
@keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
}

/* nav bar */
.navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 45px;
  text-align: start;
  padding-top: 0px;
  padding-right: 75px;
  z-index: 1;
  /* Shadow */
  -webkit-box-shadow: 0px 0px 2px 0px   #000000;
  -moz-box-shadow: 0px 0px 2px 0px       #000000;
  box-shadow: 0px 0px 2px 0px #000000;
  /* Transparent */
  background-image: linear-gradient(15deg, #0e61997e 0%, #b380d09f 100%);
  color: rgba(255, 255, 255, 0.7);
}

.navigation a {
  font-size: 16px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 10px;
  color: #ebe3e3;
  text-decoration: none;
}

.navigation ul
{
  margin-top: 12px;
}

.navigation ul li
{
  list-style-type: none;
  display: inline;
}

.navigation li:before {
  content: " | ";
  color: rgba(255, 255, 255, 0.11);
}

.navigation li:first-child:before {
  content: none;
}

.navigation li a:hover {
  color: #ffffff;
  font-weight: 600;

}
.right ul li img{
  max-width: 20px; 
}

/* nav bar */

/* project cards */

.card {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0px 18px 25px -7px rgba(0, 0, 0, 0.829);
  transition: all .4s cubic-bezier(0.175, 0.885, .8, 1);

}

.card:hover {
  transform: scale(1.02, 1.02);
}

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: .4s;
}

.card .front:after {
  position: absolute;
  right: -66px;
  top: 6px;
  transform: rotate(45deg);
  color: #fff;
  padding: 20px;
  text-align: center;
  transition: .4s;
  
}

.card:hover .front:after {
  opacity: 0;
  overflow: scroll;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.788);
  color: #fff;
  padding: 5px;
  display: table;
  opacity: 0;
  transition: .4s;
  transform: translateY(100%);
  text-align: center;
  
}

.card .front .title-front-card {
  background-image: linear-gradient(15deg, #0e61997e 0%, #b380d09f 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .3s;

}

.back span {
  vertical-align: middle;
  text-align: center;
  font-size: 80%;
  padding: 4px;
}

.back span ul {
  padding-left: 0;
  overflow: scroll;
  padding: 5px;
}

.back span p {
  
  padding: 10px;
}

.back span ul li {
  font-size: 10px;
  margin: 10px
  
}

.card:hover .back {
  opacity: 1;
  transform: translateY(0);
  background-image: linear-gradient(15deg, #0e61997e 0%, #b380d09f 100%);
  overflow: scroll;
}

.card a {
  color: #c9b4d8b7;
}


.card:hover .title-front-card {
  opacity: 0;
}


.language {
  border: solid #2808427e 1px;
  font-size: small;
  border-radius: 2px;
  background-color: #51137ad8;
  color: #ffffffcb;
  
}
/* project cards */

/* about me section */
#aboutMe{
  background-image: url('attachments/BKG3.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}


span.blink{
  animation: blink 1s infinite;
  color: rgb(0, 0, 0);
}

@keyframes blink{
  to{opacity: .0;}
}
/* about me section */

/* contact card/header */
.contact{
  width: 300px;
  height: 420px;
  background:#fff;
  box-shadow: 15px 20px 25px 1px rgba(34, 32, 31, 0.2);
  padding: 2% 2% 2% 2%;
  border-radius: 8px;
}

.contactcard {
  z-index: 1;
  position: relative;
  background-color: #ffffff;
  width: 300px;
  height: 390px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(192, 182, 182) -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  border-radius: 4px;
  -webkit-animation: float-down 1s infinite alternate;
  -moz-animation: float-down 1s infinite alternate;
  -ms-animation: float-down 1s infinite alternate;
  animation: float-down 1s infinite alternate;
}

@keyframes float-down {
  0% {
      transform: translate3d(0,0px,0);
 }
  100% {
      transform: translate3d(0,-5px,0);
 }
}

.contactcard.active {
  height: 440px;
}

.banner {
  z-index: 2;
  position: relative;
  margin-top: -154px;
  border-radius: 4px;
  width: 100%;
  height: 150px;
  background-image: url("https://images.unsplash.com/photo-1497294815431-9365093b7331?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  border-bottom: solid 1px lightgrey;

  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
}

.banner.active {
  height: 0;

}

.photo {
  z-index: 3;
  position: relative;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  background-color: white;
  margin: 0 auto;
  background-image: url("attachments/pp.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  top: 75px;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
  -moz-transition: top 0.7s ease-in-out, background 0.15s ease;
  -o-transition: top 0.7s ease-in-out, background 0.15s ease;
  -ms-transition: top 0.7s ease-in-out, background 0.15s ease;
}

.photo.active {
  top: -80px;
}

.contactcard ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-top: 87px;
  margin-bottom: 30px;
  font-size: 20px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
}

.contactcard ul.active {
  opacity: 0;
  visibility: hidden;
}

.contactcard li{
  font-size: small;
}

.contactcard i {
  font-size: 25px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 150px;
  width: 300px;
  text-align: left;
  color: #C7D0E1;
}

button.contactinfo {
  margin: 0 auto;
  text-align: center;
  margin-top: -15px;
  width: 100%;
  height: 35px;
  display: block;
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: white;
  background-color: #d1c7e1;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

button.contactinfo:hover {
  cursor: pointer;
  background-color:#0e61997e;
}

button.info:focus {
  outline: 0;
}

.social-media-banner {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  text-align: center;
  position: absolute;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5 ease-in-out;
}

.social-media-banner.active {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
}

.social-media-banner a i {
  display: inline;

  width: auto;
  margin-right: 15px;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.social-media-banner a i:hover {
  color: #a679c4;
}

.download-form {
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
  height: 0;
  overflow: hidden;
  width: 300px;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.download-form.active {
  text-align:center;
  height: 250px;
  z-index: 3;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#pdf {
  height: 39px;
  width: 39px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.download-form button {
  margin-top: 60px;
}
/* contact card/header */

#socials{
  text-align: center;
}

.arrow {
  box-sizing: border-box;
  height: 1.5vw;
  width: 1.5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  
  
}

.arrow:hover {
  border-bottom-width: 3px;
  border-right-width: 3px;
}

.container {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

#footer{
  color:white;
  text-align: center;
  height: 40px;
}

#footer a {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {

  .navigation {
    align-content: center;
    height: 50px;
    
  }

  .navigation ul li a{
    font-size: 7.5px;
    font-weight: bold;
    float: none;
    
  }
}